.search-page {
    margin: 3rem;
    padding: 2rem;
    margin-bottom: 7rem;
    &__title {
      margin-top: 2rem;
      margin-left: 15px;
      font-size:3rem;
      margin-bottom: 2rem;
      // text-align: center;
      letter-spacing: 0.6rem;
  
      @media screen and (max-width: 800px) {
        margin-top: 3rem;
        font-size: 2.5rem;
        margin-left: unset;
      }
    }
  
    &__outer {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    &__inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 30px;
      grid-template-rows: 1fr;
      width: 100%;

      margin: 0 auto;
    //   background-image: linear-gradient(to right, #62646248, #3e3f3f4b, #2a2b2b4d)
    }
  }
  